@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@600&display=swap");

:root {
  /* fonts */
  --heading-font: "Poppins", "Lato", sans-serif;
  --text-font: "Lato", sans-serif;

  /* colors */
  --carded-primary: #76326f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 16px;
}
